/*VARIABLES Y MIXINS*/
/*COLORES*/
/* RESET Y TIPOGRAFIAS*/
body {
  background-image: radial-gradient(circle, #f5ebf0, #f6e8ef, #f8e5ee, #f9e2ec, #fbdfeb);
}

/*FUENTES
font-family: 'Montserrat', sans-serif;
font-family: "Champagne & Limousines V1";
*/
/*LAYOUT*/
header .navbar {
  background-color: #192241;
}
header .navbar .container-fluid a {
  color: #EDC8C8;
  font-family: "Montserrat", sans-serif;
}
header .navbar .container-fluid a:hover {
  font-weight: bolder;
}
header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  color: white;
}

main {
  /*ANIMACION EN TITULO DE PROMOCIONES*/
}
main .sectionLogo {
  margin: 0;
  width: 100%;
  height: 28rem;
  background-image: url(../assets/images/seccionprincipal.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .sectionLogo div h1, main .sectionLogo div .principal h2, .principal main .sectionLogo div h2 {
  text-align: center;
  color: #192241;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.625rem;
  font-family: "Montserrat", sans-serif;
}
main .sectionPromo {
  margin-top: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .sectionPromo h2 {
  margin-bottom: 3.125rem;
  color: #192241;
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.25rem;
  text-align: center;
}
main .sectionPromo .contenedorCarrusel {
  width: auto;
  box-shadow: 0px 0px 30px #EDC8C8; /* Efecto de luz */
}
main .sectionPromo .contenedorCarrusel .carousel-inner img {
  max-width: 100%;
  height: auto;
}
main .sectionTratamiento {
  margin-top: 12.5rem;
  margin-bottom: 12.5rem;
}
main .sectionTratamiento div h2 {
  width: auto;
  margin-bottom: 6.25rem;
  color: #192241;
  font-size: 40px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.25rem;
  text-align: center;
}
main .sectionTratamiento .contieneTratamientos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main .sectionTratamiento .contieneTratamientos .tratamientoHombre {
  background-color: #253779;
  max-width: 30%;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .sectionTratamiento .contieneTratamientos .tratamientoHombre img {
  width: 100%;
  margin-top: 10px;
}
main .sectionTratamiento .contieneTratamientos .tratamientoHombre button {
  background-color: #EDC8C8;
}
main .sectionTratamiento .contieneTratamientos .tratamientoHombre button a {
  text-decoration: none;
  color: #192241;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}
main .sectionTratamiento .contieneTratamientos .tratamientoMujer {
  background-color: #EDC8C8;
  max-width: 30%;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .sectionTratamiento .contieneTratamientos .tratamientoMujer img {
  width: 100%;
  margin-top: 10px;
}
main .sectionTratamiento .contieneTratamientos .tratamientoMujer button {
  background-color: #253779;
}
main .sectionTratamiento .contieneTratamientos .tratamientoMujer button a {
  text-decoration: none;
  color: #EDC8C8;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main h1, main .principal h2, .principal main h2 {
  animation: aparecer 2s ease-in-out;
}

footer .sectionFooter {
  background-color: #192241;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
footer .sectionFooter .sectionRedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.125rem;
}
footer .sectionFooter .sectionRedes h5 {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #B7ACA3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main .contieneArticulos {
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  background-color: #192241;
  display: grid;
  grid-template-areas: "articulo1 articulo1 " "articulo2 articulo2 " "articulo3 articulo4 " "articulo3 articulo4 " "articulo5 articulo5 ";
  grid-template-columns: 4fr, 4fr, 4fr, 1fr;
  row-gap: 20px;
  column-gap: 10px;
  margin: 10px 20px 10px 20px;
  align-content: center;
}
main .contieneArticulos p {
  font-family: "Montserrat", sans-serif;
  color: #B7ACA3;
  font-size: 1.125rem;
  width: 90%;
  font-weight: bold;
}
main .contieneArticulos h3 {
  font-family: "Montserrat", sans-serif;
  color: #edbdbd;
  font-size: 1.875rem;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
main .contieneArticulos .articulo1 {
  background-color: #192241;
  margin: 10px 20px 10px 20px;
  grid-area: articulo1;
  display: flex;
  align-items: center;
}
main .contieneArticulos .articulo2 {
  background-color: #f5ebf0;
  grid-area: articulo2;
  display: flex;
  align-items: center;
}
main .contieneArticulos .articulo3 {
  background-color: #192241;
  grid-area: articulo5;
}
main .contieneArticulos .articulo4 {
  background-color: #f5ebf0;
  grid-area: articulo4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contieneArticulos .articulo5 {
  background-color: #192241;
  grid-area: articulo3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contieneArticulos .articulo5 img {
  width: 70%;
}
main .contieneArticulos img {
  width: 50%;
}

.sectionConsulta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.sectionConsulta h2 {
  font-weight: bold;
  color: #edbdbd;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.sectionConsulta .col-md-6 .form-label {
  font-weight: bold;
  color: #edbdbd;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.sectionConsulta #validationCustom05 {
  height: 150px;
  resize: vertical;
}
.sectionConsulta .botonContacto {
  margin-top: 0.75rem;
  margin-bottom: 0.625rem;
  background-color: #edbdbd;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #FBDFEB;
  border-bottom-color: #bab5b2;
  border-bottom: #edbdbd;
  border-style: groove;
}

.contactos {
  background-color: #192241;
}
.contactos h2 {
  font-weight: bolder;
  color: #edbdbd;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  text-align: center;
}
.contactos .ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.contactos .ubicacion .mapa {
  margin: 0.9375rem 0rem 1.875rem 0rem;
  width: 25rem;
  height: 12.5rem;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.principal .inicia {
  width: 80%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal .inicia h1, .principal .inicia h2 {
  color: #253779;
  font-size: 2.1875rem;
}
.principal .inicia .formulario {
  margin-top: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.principal .inicia .formulario .controls {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgb(215, 211, 211);
  padding: 10px;
  border: rgba(215, 211, 211, 0.614);
}
.principal .inicia .formulario .contieneBotones {
  display: flex;
  justify-content: center;
}
.principal .inicia .formulario .contieneBotones .confirmar {
  margin: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
  padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
  text-decoration: none;
  background-color: #edbdbd;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
}
.principal .inicia .formulario .contieneBotones .confirmar a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #253779;
  font-size: 1.125rem;
}
.principal .iniciaRegistro {
  width: 80%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal .iniciaRegistro h2 {
  font-family: "Montserrat", sans-serif;
  color: #253779;
  font-size: 2.1875rem;
  text-align: center;
}
.principal .iniciaRegistro p {
  text-align: center;
  width: auto;
  font-family: "Montserrat", sans-serif;
  color: #192241;
  font-size: 0.9375rem;
  background-color: #edbdbd;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  margin: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
}
.principal .iniciaRegistro a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #253779;
  background-color: #edbdbd;
  font-size: 1.5625rem;
  margin-top: 5%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.promosMes {
  margin-top: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promosMes .contenedorCarrusel {
  width: auto;
}
.promosMes .contenedorCarrusel .carousel-inner img {
  max-width: 100%;
  height: auto;
}

.principal {
  max-width: 100%;
  height: auto;
  margin-top: 12.5rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.25rem;
}
.principal .imagen {
  max-width: 100%;
  height: auto;
}
.principal .imagen img {
  width: 100%;
  height: auto;
}
.principal h1, .principal h2 {
  margin-bottom: 3.125rem;
  color: #2E3976;
  font-size: 1.875rem;
  text-decoration: none;
  font-weight: bolder;
}
.principal .promosIndividuales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.principal .promosIndividuales .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 18.75rem;
  background-color: #fdf4f4;
  margin: 0.625rem 0.625rem 0.625rem 0.625rem;
  font-family: "Champagne & Limousines V1";
  border: none;
  margin: 0.625rem 0.625rem 0.625rem 0.625rem;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
}
.principal .promosIndividuales .card .contieneTitulo h5 {
  border-color: #253779;
  color: rgba(203, 123, 123, 0.9607843137);
  width: 100%;
  font-weight: bolder;
}
.principal .promosIndividuales .listadoPrecios {
  list-style: none;
}
.principal .promosIndividuales .listadoPrecios .tachado {
  font-size: 1.25rem;
  color: #253779;
}
.principal .promosIndividuales .listadoPrecios .precioFinal {
  font-weight: bold;
  font-size: 1.5625rem;
  color: #253779;
}
.principal .promosIndividuales .listadoPrecios .precioFinal del {
  font-weight: lighter;
  color: red;
}
.principal .promosIndividuales .card-body {
  padding: 0;
  width: 193px;
  min-height: 39px;
  max-height: 39px;
  background-color: #253779;
  align-items: center;
}
.principal .promosIndividuales .card-body a {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #EDC8C8;
}

.registrate h1, .registrate .principal h2, .principal .registrate h2 {
  font-family: "Montserrat", sans-serif;
  color: #253779;
  font-size: 2.1875rem;
  text-align: center;
}
.registrate .formularioRegistro {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
}
.registrate .formularioRegistro .form-control {
  width: 100%;
  background-color: rgb(215, 211, 211);
  padding: 10px;
  border: rgba(215, 211, 211, 0.614);
}
.registrate .formularioRegistro .terminos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.registrate .formularioRegistro .contieneBotones {
  display: flex;
  justify-content: center;
}
.registrate .formularioRegistro .contieneBotones .confirmar {
  margin: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
  padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
  text-decoration: none;
  background-color: #edbdbd;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3125rem;
}
.registrate .formularioRegistro .contieneBotones .confirmar a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #253779;
  font-size: 1.125rem;
}

.presentacion h1, .presentacion .principal h2, .principal .presentacion h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625rem;
  text-align: center;
  font-weight: bold;
  color: #253779;
}
.presentacion p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375rem;
  text-align: justify;
  color: #192241;
}

.videoPrincipalTratamiento {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoPrincipalTratamiento video {
  margin-top: 10p;
  top: 0;
  left: 0;
  width: 50%;
  z-index: -1;
}

.sectionTratamiento {
  margin-top: 12.5rem;
  margin-bottom: 12.5rem;
}
.sectionTratamiento h2 {
  width: auto;
  margin-bottom: 6.25rem;
  color: #192241;
  font-size: 40px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.25rem;
  text-align: center;
}

.contieneTratamientos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contieneTratamientos .tratamientoHombre {
  background-color: #253779;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contieneTratamientos .tratamientoHombre img {
  margin-top: 10px;
}
.contieneTratamientos .tratamientoHombre button {
  background-color: #EDC8C8;
}
.contieneTratamientos .tratamientoHombre button a {
  text-decoration: none;
  color: #192241;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}
.contieneTratamientos .tratamientoMujer {
  background-color: #EDC8C8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contieneTratamientos .tratamientoMujer img {
  margin-top: 10px;
}
.contieneTratamientos .tratamientoMujer button {
  background-color: #253779;
}
.contieneTratamientos .tratamientoMujer button a {
  text-decoration: none;
  color: #EDC8C8;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

.sectionPrincipal {
  position: relative;
}
.sectionPrincipal .contieneVideoFondo video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.sectionSecundaria h1, .sectionSecundaria .principal h2, .principal .sectionSecundaria h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625rem;
  text-align: center;
  font-weight: bold;
  color: #253779;
}
.sectionSecundaria div ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375rem;
  text-align: justify;
  color: #192241;
}

.mainH {
  padding: 0.9375rem 1.875rem 0.9375rem 1.875rem;
  margin: 0.625rem 0.625rem 0.625rem 0.625rem;
  background-image: url("../assets/images/fondoHombre.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: top;
}
.mainH .contenedor {
  background-color: #EDC8C8;
  opacity: 80%;
  margin-left: 60%;
  display: flex;
  justify-content: flex-end;
}
.mainH .contenedor .informacion h2 {
  font-family: "Champagne & Limousines V1";
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  font-weight: bolder;
  color: #253779;
}
.mainH .contenedor .informacion ul li {
  font-family: "Champagne & Limousines V1";
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  font-weight: bolder;
  color: #253779;
}

.preguntas {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.preguntas h2 {
  font-family: "Champagne & Limousines V1";
  text-align: center;
  color: #192241;
  font-weight: bold;
  letter-spacing: 0.0625rem;
}
.preguntas p {
  font-family: "Champagne & Limousines V1";
  color: #192241;
  font-weight: bold;
  letter-spacing: 0.0625rem;
}

.main {
  padding: 0.9375rem 1.875rem 0.9375rem 1.875rem;
  margin: 0.625rem 0.625rem 0.625rem 0.625rem;
  background-image: url("../assets/images/fondoMujer.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: top;
}
.main .contenedor {
  background-color: #EDC8C8;
  opacity: 80%;
  margin-left: 60%;
  display: flex;
  justify-content: flex-end;
}
.main .contenedor .informacion h2 {
  font-family: "Champagne & Limousines V1";
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  font-weight: bolder;
  color: #253779;
}
.main .contenedor .informacion ul li {
  font-family: "Champagne & Limousines V1";
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  font-weight: bolder;
  color: #253779;
}
.main .preguntas div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.main .preguntas div h2 {
  font-family: "Champagne & Limousines V1";
  text-align: center;
  color: #192241;
  font-weight: bold;
  letter-spacing: 0.0625rem;
}
.main .preguntas div p {
  font-family: "Champagne & Limousines V1";
  color: #192241;
  font-weight: bold;
  letter-spacing: 0.0625rem;
}

/* COMPONENTES*/
/* MEDIA QUERY
*/
@media (max-width: 768px) {
  /*INDEX */
  .main .sectionLogo h1, .main .sectionLogo .principal h2, .principal .main .sectionLogo h2 {
    font-size: 1.5rem;
  }
  .main .sectionPromo h2 {
    font-size: 1.5rem;
  }
  .main .sectionTratamiento h2 {
    font-size: 1.5rem;
  }
  .main .sectionTratamiento .contieneTratamientos .tratamientoHombre button a {
    font-size: 1.125rem;
  }
  .main .sectionTratamiento .contieneTratamientos .tratamientoMujer button a {
    font-size: 1.125rem;
  }
  /*BLOG*/
  .contieneArticulos {
    display: flex;
    flex-direction: column;
  }
  .contieneArticulos h3 {
    font-size: 1.125rem;
  }
  .contieneArticulos p {
    font-size: 0.875rem;
  }
  /*FOOTER*/
  .sectionRedes h5 {
    font-size: 1rem;
  }
  /*CONTACTANOS*/
  .sectionConsulta h2 {
    font-size: 1.5rem;
  }
  .contactos h2 {
    font-size: 1.25rem;
  }
  .ubicacion h3 {
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  /*INDEX */
  .main .sectionLogo h1, .main .sectionLogo .principal h2, .principal .main .sectionLogo h2 {
    font-size: 1.375rem;
  }
  .main .sectionPromo h2 {
    font-size: 1.375rem;
  }
  .main .sectionTratamiento h2 {
    font-size: 1.375rem;
  }
  .main .sectionTratamiento .contieneTratamientos .tratamientoHombre button a {
    font-size: 1.125rem;
  }
  .main .sectionTratamiento .contieneTratamientos .tratamientoMujer button a {
    font-size: 1.125rem;
  }
  /*BLOG*/
  .contieneArticulos {
    display: flex;
    flex-direction: column;
    /*FOOTER*/
    /*CONTACTANOS*/
    /*HOMBRE*/
  }
  .contieneArticulos h3 {
    font-size: 1.375rem;
  }
  .contieneArticulos p {
    font-size: 1rem;
  }
  .contieneArticulos .sectionRedes h5 {
    font-size: 1rem;
  }
  .contieneArticulos .sectionConsulta h2 {
    font-size: 1.375rem;
  }
  .contieneArticulos .contactos h2 {
    font-size: 1.375rem;
  }
  .contieneArticulos .ubicacion h3 {
    font-size: 1rem;
  }
  .contieneArticulos .mainH .contenedor {
    margin-left: 0%;
    display: flex;
    justify-content: start;
  }
  .contieneArticulos .mainH .informacion h2 {
    font-size: 1.125rem;
  }
  .contieneArticulos .mainH .informacion ul li {
    font-size: 1rem;
  }
  .contieneArticulos .mainH .preguntas h2 {
    font-size: 1.125rem;
  }
  .contieneArticulos .mainH .preguntas p {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  /*INDEX */
  .main .sectionLogo div h1, .main .sectionLogo div .principal h2, .principal .main .sectionLogo div h2 {
    font-size: 1.125rem;
  }
  .main .sectionPromo h2 {
    font-size: 1.125rem;
  }
  .main .sectionTratamiento div h2 {
    font-size: 1.125rem;
  }
  .main .sectionTratamiento .contieneTratamientos .tratamientoHombre button a {
    font-size: 1rem;
  }
  .main .sectionTratamiento .contieneTratamientos .tratamientoMujer button a {
    font-size: 1rem;
  }
  /*BLOG*/
  .contieneArticulos h3 {
    font-size: 1.125rem;
  }
  .contieneArticulos p {
    font-size: 0.875rem;
  }
  /*FOOTER*/
  .sectionRedes h5 {
    font-size: 0.875rem;
  }
  /*CONTACTANOS*/
  .sectionConsulta h2 {
    font-size: 1.125rem;
  }
  .contactos h2 {
    font-size: 1.125rem;
  }
  .ubicacion h3 {
    font-size: 0.875rem;
  }
  /*HOMBRE*/
  .mainH .contenedor {
    margin-left: 0%;
    display: flex;
    justify-content: start;
  }
  .mainH .informacion h2 {
    font-size: 1.125rem;
  }
  .mainH .informacion ul li {
    font-size: 1rem;
  }
  .mainH .preguntas h2 {
    font-size: 1.125rem;
  }
  .mainH .preguntas p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
