@media (max-width: 768px) {
    header {
        .navbar {

            .navbar-toggler {

                border-color: #fbdfeb;
                /* Cambia este valor al color que desees */

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23fbdfeb' class='bi bi-list' viewBox='0 0 16 16'%3e%3cpath d='M2.5 4.5A.5.5 0 0 1 3 4h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0 4A.5.5 0 0 1 3 8h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5.5H3a.5.5 0 0 1-1 0H2a.5.5 0 0 1 .5-.5z'/%3e%3c/svg%3e");
                }
            }
        }
    }


    /*INDEX */
    main {
        .sectionLogo {
            h1 {
                font-size: 1.5rem;
            }
        }

        .sectionPromo {
            margin: .625rem .625rem .625rem .625rem;

            h2 {
                font-size: 1.5rem;
            }
        }

        .sectionTratamiento {
            h2 {
                font-size: 1.5rem;
            }

            .contieneTratamientos {
                .tratamientoHombre {
                    button {
                        a {
                            font-size: 1.125rem;
                        }
                    }
                }

                .tratamientoMujer {
                    button {
                        a {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }

    }



    /*BLOG*/
    main {
        .contieneArticulos {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: 1.375rem;
            }

            p {
                font-size: 1rem;
            }

            .articulo1,
            .articulo2 {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }



    /*FOOTER*/
    footer {
        .sectionFooter {
            justify-content: space-evenly;

            .sectionRedes {
                justify-content: center;


                h5 {
                    display: none;
                }

            }
        }
    }

    /*CONTACTANOS*/
    main {
        .sectionConsulta {
            margin: .625rem .625rem .625rem .625rem;

            h2 {
                font-size: 1.5rem;
            }
        }

        .contactos {
            h2 {
                font-size: 1.25rem;

            }

            .ubicacion {
                .mapa {
                    margin: 0%;
                    width: 18.75rem;
                    height: 9.375rem;
                }
            }
        }
    }

    /*SOBRE NOSOTROS*/
    .presentacion {
        margin: .9375rem .9375rem .9375rem .9375rem;
    }

    /*HOMBRES*/
    .mainH {

        .contenedor {
            margin-left: 0%;
            display: flex;
            flex-direction: column;
        }

        .informacion {

            h2 {
                font-size: 1.125rem;
            }

            ul {
                li {
                    font-size: 1rem;
                }
            }
        }

        .preguntas {
            h2 {
                font-size: 1.125rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    /*MUJER*/
    .main {


        .contenedor {
            margin-left: 0%;


            .informacion {

                h2 {
                    font-size: 1.125rem;
                }

                ul {
                    li {
                        font-size: 1rem;
                    }
                }
            }
        }

        .preguntas {
            h2 {
                font-size: 1.125rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    /*INICIA SESION*/
    main {
        .principal {
            .inicia {

                .formulario {
                    width: 100%;
                }

                h1 {
                    font-size: 1.375rem;
                }
            }

            .iniciaRegistro {
                h2 {
                    font-size: 1.375rem;
                }

                p {
                    margin: 0%;
                    padding: 0%;
                    font-size: 1.125rem;
                }

                a {
                    font-size: 1rem;

                }
            }
        }
    }

    /*REGISTRO*/
    main {
        .registrate {
            margin: .625rem .625rem .625rem .625rem;

            h1 {
                font-size: 1.125rem;
            }

            .formularioRegistro {
                .form-label {
                    font-size: 1rem;
                }

                .terminos {
                    font-size: 1rem;
                }

                .contieneBotones {
                    .confirmar {
                        a {
                            font-size: 1rem;
                        }
                    }

                }
            }
        }
    }

    /*PROMOCIONES*/
    main {
        .promosMes {

            margin-top: 3.125rem;
            margin-bottom: 1.25rem;
            margin-left: 1.25rem;
            margin-right: 1.25rem;
        }

        .principal {
            margin-top: 3.125rem;

          

            h1 {
                font-size: 1.375rem;
            }
        }
    }

    /*TRATAMIENTO*/
    main {
        .sectionTratamiento {
            margin-top: 3.125rem;
            margin-bottom: 1.25rem;

            h2 {
                font-size: 1.375rem;

            }

        }
    }

    /*TECNOLOGIA*/
    main {
        .sectionSecundaria {
            div {
                margin: .9375rem .9375rem .9375rem .9375rem;
            }


        }
    }

}