@media (max-width: 425px) {

    /*INDEX */
    main {
        .sectionLogo {
            h1 {
                font-size: 1.5625rem;
            }
        }

        .sectionPromo {
            h2 {
                font-size: 1.375rem;
            }
        }

        .sectionTratamiento {
            h2 {
                font-size: 1.375rem;
            }

            .contieneTratamientos {
                .tratamientoHombre {
                    button {
                        a {
                            font-size: 1.125rem;
                        }
                    }
                }

                .tratamientoMujer {
                    button {
                        a {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
    }






    /*BLOG*/
    main {
        .contieneArticulos {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: 1.125rem;
            }

            p {
                font-size: .875rem;
            }

            .articulo1,
            .articulo2 {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }


    /*FOOTER*/
    .sectionRedes {
        h5 {
            font-size: 1rem;
        }

    }

    /*CONTACTANOS*/
    main {
        .sectionConsulta {
            h2 {
                font-size: 1.125rem;
            }
        }

        .contactos {
            h2 {
                font-size: 1.125rem;

            }

            .ubicacion {
                .mapa {
                    margin: 0%;
                    width: 12.5rem;
                    height: 6.25rem;
                }
            }
        }
    }

    /*HOMBRE*/
    .mainH {

        .contenedor {
            margin-left: 0%;
            display: flex;
            justify-content: start;
        }

        .informacion {

            h2 {
                font-size: 1.125rem;
            }

            ul {
                li {
                    font-size: 1rem;
                }
            }
        }

        .preguntas {
            h2 {
                font-size: 1.125rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    /*MUJER*/
    .main {


        .contenedor {
            margin-left: 0%;
            display: flex;
            justify-content: start;

            .informacion {

                h2 {
                    font-size: 1.125rem;
                }

                ul {
                    li {
                        font-size: 1rem;
                    }
                }
            }
        }

        .preguntas {
            h2 {
                font-size: 1.125rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    /*INICIA SESION*/
    main {
        .principal {
            .inicia {
                .formulario {
                    width: 100%;

                    .contieneBotones {
                        display: flex;
                        flex-direction: column;

                        .confirmar {
                            a {
                                font-size: 1rem;
                            }
                        }
                    }
                }

                h1 {
                    font-size: 1.125rem;
                }
            }
        }

        .iniciaRegistro {
            h2 {
                font-size: 1.125rem;
            }

            p {
                margin: 0%;
                padding: 0%;
                font-size: 1rem;
            }

            a {

                font-size: 1rem;

            }
        }
    }

    /*REGISTRO*/
    main {
        .registrate {
            h1 {
                font-size: 1.125rem;
            }

            .formularioRegistro {
                .form-label {
                    font-size: 1rem;
                }

                .terminos {
                    font-size: 1rem;
                }

                .contieneBotones {
                    display: flex;
                    flex-direction: column;

                    .confirmar {
                        a {
                            font-size: 1rem;
                        }
                    }

                }
            }
        }
    }

    /*PROMOCIONES*/
    main {
        .promosMes {
            margin-top: 3.125rem;
        }

        .principal {
            margin-top: 3.125rem;

            h1 {
                font-size: 1.375rem;
            }

            .promosIndividuales {
                .card {
                    .contieneTitulo {
                        h5 {
                            font-size: 1.125rem;
                        }
                    }

                    .listadoPrecios {
                        .tachado {
                            font-size: 1.125rem;
                        }

                        .precioFinal {
                            font-size: 1.25rem;
                        }
                    }

                    .card-body {
                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    /*TECNOLOGIA*/
    main {
        .sectionSecundaria {
            h1 {
                font-size: 1.125rem;
            }
        }
    }
}