@media (max-width: 768px) {

    /*INDEX */
    main {
        .sectionLogo {
            h1 {
                font-size: 1.5rem;
            }
        }

        .sectionPromo {
            h2 {
                font-size: 1.5rem;
            }
        }

        .sectionTratamiento {
            h2 {
                font-size: 1.5rem;
            }

            .contieneTratamientos {
                .tratamientoHombre {
                    button {
                        a {
                            font-size: 1.125rem;
                        }
                    }
                }

                .tratamientoMujer {
                    button {
                        a {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }

    }



    /*BLOG*/
    main {
        .contieneArticulos {
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                font-size: 1.375rem;
            }

            p {
                font-size: 1rem;
            }
            .articulo1, .articulo2{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }



    /*FOOTER*/
    .sectionRedes {
        h5 {
            font-size: 1rem;
        }
    }

    /*CONTACTANOS*/
    main {
        .sectionConsulta {
            h2 {
                font-size: 1.5rem;
            }
        }

        .contactos {
            h2 {
                font-size: 1.25rem;

            }

            .ubicacion {
                .mapa {
                    margin: 0%;
                    width: 18.75rem;
                    height: 9.375rem;
                }
            }
        }
    }
    /*HOMBRES*/
    .mainH {

        .contenedor {
            margin-left: 0%;
            display: flex;
            flex-direction: column;
        }

        .informacion {
        
            h2 {
                font-size: 1.125rem;
            }

            ul {
                li {
                    font-size: 1rem;
                }
            }
        }

        .preguntas {
            h2 {
                font-size: 1.125rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
    .main {
       

        .contenedor {
            margin-left: 0%;
            

            .informacion {

                h2 {
                    font-size: 1.125rem;
                }

                ul {
                    li {
                        font-size: 1rem;
                    }
                }
            }
        }

        .preguntas {
            h2 {
                font-size: 1.125rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}