@media (max-width: 425px) {

    /*INDEX */
    main {
        .sectionLogo {
            h1 {
                font-size: 1.5625rem;
            }
        }

        .sectionPromo {
            h2 {
                font-size: 1.375rem;
            }
        }

        .sectionTratamiento {
            h2 {
                font-size: 1.375rem;
            }

            .contieneTratamientos {
                .tratamientoHombre {
                    button {
                        a {
                            font-size: 1.125rem;
                        }
                    }
                }

                .tratamientoMujer {
                    button {
                        a {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
    }






    /*BLOG*/
    main {
        .contieneArticulos {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: 1.125rem;
            }

            p {
                font-size: .875rem;
            }

            .articulo1,
            .articulo2 {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }


    /*FOOTER*/
    .sectionRedes {
        h5 {
            font-size: 1rem;
        }

    }

    /*CONTACTANOS*/
    main {
        .sectionConsulta {
            h2 {
                font-size: 1.125rem;
            }
        }

        .contactos {
            h2 {
                font-size: 1.125rem;

            }

            .ubicacion {
                .mapa {
                    margin: 0%;
                    width: 12.5rem;
                    height: 6.25rem;
                }
            }
        }
    }

    /*HOMBRE*/
    .mainH {

        .contenedor {
            margin-left: 0%;
            display: flex;
            justify-content: start;
        }

        .informacion {

            h2 {
                font-size: 1.125rem;
            }

            ul {
                li {
                    font-size: 1rem;
                }
            }
        }

        .preguntas {
            h2 {
                font-size: 1.125rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .main {


        .contenedor {
            margin-left: 0%;
            display: flex;
            justify-content: start;

            .informacion {

                h2 {
                    font-size: 1.125rem;
                }

                ul {
                    li {
                        font-size: 1rem;
                    }
                }
            }
        }

        .preguntas {
            h2 {
                font-size: 1.125rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}