.contieneBotones{
    display: flex;
    flex-direction: row;
    .botonCompra, .botonSigue {
    
        button {
            margin: .3125rem .3125rem .3125rem .3125rem;
            padding: .3125rem .3125rem .3125rem .3125rem;
            text-decoration: none;
            background-color: #edbdbd;
            border-color: black;
            border-style: solid;
            border-width: 1px;
            border-radius: 5%;
            a{
                text-decoration: none;
                font-family: 'Montserrat', sans-serif;
                color: $aBotonInicia;
                font-size: 1.125rem;
            }
            }
          
    }
}