.sectionConsulta {
    @include flex6;
    margin-top: .625rem;
    margin-bottom: .625rem;

    h2 {
        font-weight: bold;
        color: #edbdbd;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    .col-md-6{
        .form-label{
            font-weight: bold;
            color: #edbdbd;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }

    }


    #validationCustom05 {
        height: 150px;
        resize: vertical;
    }

    .botonContacto {
        margin-top: .75rem;
        margin-bottom: .625rem;
        background-color: #edbdbd;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #FBDFEB;
        border-bottom-color: #bab5b2;
        border-bottom: #edbdbd;
        border-style: groove;

    }
}

.contactos {
    background-color: #192241;
    h2{
        font-weight: bolder;
        color: #edbdbd;
        font-family: 'Montserrat', sans-serif;
        font-size: x-large;
        text-align: center;
    }
  
    .ubicacion {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
   

        .mapa {
            margin: .9375rem 0rem 1.875rem 0rem;
            width: 25rem;
            height: 12.5rem;
        }

    }

}