/*COLORES*/
$azulElectrico:#2E3976;
$fondoBody:#f5ebf0;
$colorHeader: #192241;
$rosaOscuro: #EDC8C8;
$rosaClaro:#FBDFEB;
$beige:#B7ACA3;
$h1Registro:#253779;
$aBotones:#253779;
$h1Incia:#253779;   
$aBotonInicia:#253779;
$h1Teconologia:#253779;
$itemsTeconologia:#192241;
$h2Tratamiento:#192241;
$aTratamiento:#192241;
$fondoImagenTratamientoMujer:#EDC8C8;
$fondoImagenTratamientoHombre:#253779;
$botonTratamientoMujer:#253779;
$botonTratamientoHombre:#EDC8C8;
$tituloPresentacion:#253779;
$textoPresentacion:#192241;
$Titulos:2.1875rem;